@charset "UTF-8";
body {
 background: rgb(15, 23, 31);
 color: rgb(0, 0, 0);
}
h1 {
 background: rgb(255, 223, 63);
 color: rgb(0, 0, 0);
}
p {
 background: rgb(255, 159, 23);
 color: rgb(0, 0, 0);
 font-size:24px;
 text-align:center;
 border-bottom:4px solid rgb(255, 127, 0);
}
div {
 background: rgb(255, 95, 31);
 color: rgb(0, 0, 0);
}